MONGO_CONNECTION_STRING=mongodb://localhost:27017
MONGO_DB_NAME=cargo-emissions

# OpenRouteService API Key (Optional - get free key at https://openrouteservice.org/dev/#/signup)
ORS_API_KEY=


# FastAPI Stuff
DEBUG=True
JWT_SECRET=your_jwt_se3ret
JWT_EXPIRY_DAYS=7
HOST=0.0.0.0

